@using TaskManagementApp.Models.Entities
@model TaskManagementApp.Models.Entities.TaskItemDto
@{
    var statuses = Enum.GetValues(typeof(TaskItemStatus));
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">New Task</h2>

        <form method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Görev Adı</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" id="name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Açıklama</label>
                <div class="col-sm-8">
                    <textarea class="form-control" asp-for="Description" id="description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Durum</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Status" id="status">
                        @foreach (var status in statuses)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Son Tarih</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DueDate" type="date" id="dueDate" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>
            </div>

            
        </form>

        <div class="row">
            <div class="offset-sm-4 col-sm-4 d-grid">
                <button onclick="create()" class="btn btn-primary">Ekle</button>
            </div>
            <div class="col-sm-4 d-grid">
                <a class="btn btn-outline-primary" asp-controller="Tasks" asp-action="Index" role="button">İptal</a>
            </div>
        </div>
    </div>
</div>

<script>
    function create() {
        var name = $("#name").val();
        var description = $("#description").val();
        var status = $("#status").val();
        var dueDate = $("#dueDate").val();

        $.ajax({
            url: '@Url.Action("Create", "Tasks")',
            type: 'POST',
            dataType: 'json',
            data: {
                Name: name,
                Description: description,
                Status: status,
                DueDate: dueDate
            },
            success: function (response) {
                if (response.success) {
                    console.log(response);
                    alert("Yeni görev başarılı şekilde eklendi!");
                } else {
                    var errorMessage = response.errors.join("\n");
                    alert("Görev ekleme başarısız:\n" + errorMessage);
                }
            }
        })
    }
</script>